footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
}

footer>div>p {
  margin-left: 5px;
}

.MerFooterItem {
  position: flex;
  height: 50px;
  width: 100%;
  border: 1px solid;
  margin-right: -1px;
  color: black;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  gap: 0.5rem;
}